# 3 Predicting Sports Winners with Decision Trees

predicting the winner of sports matches using a
different type of classification algorithm: decision trees. These algorithms have a
number of advantages over other algorithms. One of the main advantages is that they
are readable by humans. In this way, decision trees can be used to learn a procedure,
which could then be given to a human to perform if needed. Another advantage is
that they work with a variety of features, which we will see in this chapter.
We will cover the following topics in this chapter:
• Using the pandas library for loading and manipulating data
• Decision trees
• Random forests
• Using real-world datasets in data mining
• Creating new features and testing them in a robust framework
Loading the

Loading the dataset

Using pandas to load the dataset

The pandas library is a library for loading, managing, and manipulating data.
It handles data structures behind-the-scenes and supports analysis methods,
such as computing the mean

In [3]:
import pandas as pd
dataset=pd.read_csv('leagues_NBA_2014_games_games.csv')

In [4]:
dataset.ix[:5]

Empty DataFrame
Columns: []
Index: [(Date, Start (ET), nan, Visitor/Neutral, PTS, Home/Neutral, PTS, nan, Notes), (October, October, October, October, October, October, October, October, October), (Tue Oct 29 2013, nan, Box Score, Orlando Magic, 87, Indiana Pacers, 97, nan, nan), (Tue Oct 29 2013, nan, Box Score, Los Angeles Clippers, 103, Los Angeles Lakers, 116, nan, nan), (Tue Oct 29 2013, nan, Box Score, Chicago Bulls, 95, Miami Heat, 107, nan, nan)]

Cleaning up the dataset

• The date is just a string and not a date object
• The first row is blank
• From visually inspecting the results, the headings aren't complete or correct

In [5]:
'''The pandas.read_csv function has parameters to fix each of these issues, which we
can specify when loading the file. We can also change the headings after loading the
file'''

'The pandas.read_csv function has parameters to fix each of these issues, which we\ncan specify when loading the file. We can also change the headings after loading the\nfile'

In [10]:
dataset = pd.read_csv('leagues_NBA_2014_games_games.csv', parse_dates=["Date"],
skiprows=[0,])
dataset.columns = ["Date",'Start', "Score Type", "Visitor Team",
                        "VisitorPts", "Home Team", "HomePts", "OT?", "Notes"]

In [11]:
dataset.ix[:5]

,Date,Start,Score Type,Visitor Team,VisitorPts,Home Team,HomePts,OT?,Notes
0,2015-10-20,October,October,October,October,October,October,October,October
1,2013-10-29,NaN,Box Score,Orlando Magic,87,Indiana Pacers,97,NaN,NaN
2,2013-10-29,NaN,Box Score,Los Angeles Clippers,103,Los Angeles Lakers,116,NaN,NaN
3,2013-10-29,NaN,Box Score,Chicago Bulls,95,Miami Heat,107,NaN,NaN
4,2013-10-30,NaN,Box Score,Brooklyn Nets,94,Cleveland Cavaliers,98,NaN,NaN
5,2013-10-30,NaN,Box Score,Atlanta Hawks,109,Dallas Mavericks,118,NaN,NaN

In [12]:
dataset.tail()

,Date,Start,Score Type,Visitor Team,VisitorPts,Home Team,HomePts,OT?,Notes
1232,2014-04-16,NaN,Box Score,Detroit Pistons,111,Oklahoma City Thunder,112,NaN,NaN
1233,2014-04-16,NaN,Box Score,Indiana Pacers,101,Orlando Magic,86,NaN,NaN
1234,2014-04-16,NaN,Box Score,Los Angeles Clippers,104,Portland Trail Blazers,110,NaN,NaN
1235,2014-04-16,NaN,Box Score,Phoenix Suns,104,Sacramento Kings,99,NaN,NaN
1236,2014-04-16,NaN,Box Score,Los Angeles Lakers,113,San Antonio Spurs,100,NaN,NaN